<h2><i class="bi bi-person-lines-fill"></i>  ติดต่อเรา</h2>
<hr />
<div class="row">
    <div class="col-6">
        <h4>แผนที่</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15542.626618255934!2d100.91044306755063!3d13.120924081314074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3102b67ef835f265%3A0x963c6129282e5cb!2z4Lih4Lir4Liy4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4LmA4LiB4Lip4LiV4Lij4Lio4Liy4Liq4LiV4Lij4LmMIOC4p-C4tOC4l-C4ouC4suC5gOC4guC4leC4qOC4o-C4teC4o-C4suC4iuC4sg!5e0!3m2!1sth!2sth!4v1724744113493!5m2!1sth!2sth" 
        width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-6">
        <h4 class="mt-4">ที่ตั้งร้าน</h4>
        <p>
            199 หมู่ที่ 6 อำเภอศรีราชา ชลบุรี 20230
        </p>
        <h4 class="mt-4">เบอร์โทรศัพท์</h4>
        <p>
            038-354-580
        </p>
        <h4 class="mt-4">Social Media</h4>
        <a href="https://web.facebook.com/KUSriracha/?locale=th_TH&_rdc=1&_rdr"><h4><i class="bi bi-facebook"></i>&nbsp; Facebook</h4></a>
        <a href="https://www.instagram.com/kusrc.sab/"><h4><i class="bi bi-instagram"></i>&nbsp; Instagram</h4></a>
    </div>
</div>