<h2><i class="bi bi-file-person"></i> เกี่ยวกับเรา</h2>
<hr />
<h3>ประวัติร้าน</h3>
<div class="row">
  <div class="col-4">

  </div>
  <div class="col-8">
    <div class="clearfix">
      <img src="https://th.bing.com/th/id/OIG1.3KKaFz.cn4DvNaXxuRx4?w=270&h=270&c=6&r=0&o=5&pid=ImgGn" class="col-md-6 float-md-end mb-3 ms-md-3" alt="บ้านจุนตา">
    
      <p>
        ร้านอาหารบ้านจุนตา เป็นร้านอาหารไทยที่มีบรรยากาศอบอุ่นและเต็มไปด้วยความเป็นกันเอง ชื่อ "จุนตา" เป็นการผสมคำระหว่าง "จุน" ที่หมายถึงการดูแลเอาใจใส่ และ "ตา" ที่หมายถึงตาของครอบครัว เป็นสัญลักษณ์ของความรัก ความอบอุ่น และการต้อนรับที่ดีเยี่ยม
      </p>
    
      <p>
        ร้านอาหารบ้านจุนตาเริ่มเปิดให้บริการในปี 2008 โดย คุณสมพร และ คุณวิจิตร จุนตาภรณ์ คู่สามีภรรยาที่มีความหลงใหลในการทำอาหารไทยดั้งเดิมและต้องการสร้างสถานที่ที่ให้ความรู้สึกเหมือนมาทานอาหารที่บ้านของผู้เป็นตาและย่าของตนเอง

ทั้งคู่ได้รับแรงบันดาลใจจากสูตรอาหารที่ถ่ายทอดมาจากครอบครัวที่มีต้นกำเนิดในภาคกลางของประเทศไทย คุณสมพร ผู้มีฝีมือในการทำอาหารสืบทอดจากคุณยาย ได้นำสูตรดั้งเดิมมาประยุกต์ให้เข้ากับสมัยใหม่ แต่ยังคงไว้ซึ่งรสชาติที่เป็นเอกลักษณ์ ส่วนคุณวิจิตรเป็นผู้ดูแลเรื่องการออกแบบและการตกแต่งร้านให้เหมือนบ้านไม้เก่าแก่ที่มีเสน่ห์ ผสมผสานกับบรรยากาศสวนสวยที่ร่มรื่น

ร้านบ้านจุนตา กลายเป็นที่นิยมอย่างรวดเร็วในหมู่คนท้องถิ่นและนักท่องเที่ยว ด้วยการนำเสนออาหารที่มีรสชาติเข้มข้นและใช้วัตถุดิบที่สดใหม่จากท้องถิ่น บริการด้วยความเป็นมิตรและอบอุ่นราวกับมาเยี่ยมบ้านญาติ นอกจากนั้น ร้านยังมีเมนูอาหารเฉพาะที่เป็นสูตรพิเศษที่หาไม่ได้จากที่อื่น เช่น แกงคั่วหอยขมใบทองหลาง และ ปลาช่อนแดดเดียวทอดน้ำปลา
      </p>
    
      <p>
        ปัจจุบัน บ้านจุนตา ยังคงยึดมั่นในปณิธานเดิมที่ต้องการสร้างความประทับใจให้กับลูกค้าทุกคนที่มาเยือน ด้วยการคงคุณภาพของอาหารที่ยอดเยี่ยม บริการด้วยความใส่ใจ และบรรยากาศที่อบอุ่นเช่นเดียวกับบ้านญาติ

        วิสัยทัศน์ของร้านคือการเป็นสถานที่ที่ให้ทุกคนรู้สึกเหมือนมาทานอาหารที่บ้านของตา ด้วยการคงความเป็นเอกลักษณ์ของอาหารไทยพื้นบ้าน และความรู้สึกเป็นกันเองที่เต็มไปด้วยความรักและความห่วงใย
      </p>
    </div>
  </div>
</div>
<h3>พนักงานของเรา</h3>
<div class="row">
  <div class="col-4">

  </div>
  <div class="col-8">
    <div class="row">
      <div class="col-3">

        <div class="card">
          <div class="text-center">
            <img src="assets/images/user.jpg" class="rounded" style="width: 100px;">
          </div>
          <div class="card-body">
            <div class="card-title h5">
              สมนึก ไพเราะ
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col-3">

        <div class="card">
          <div class="text-center">
            <img src="assets/images/user.jpg" class="rounded" style="width: 100px;">
          </div>
          <div class="card-body">
            <div class="card-title h5">
              สมถุย อุทัย
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col-3">

        <div class="card">
          <div class="text-center">
            <img src="assets/images/user.jpg" class="rounded" style="width: 100px;">
          </div>
          <div class="card-body">
            <div class="card-title h5">
              สมใจ สะอาดมาก
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <div class="col-3">

        <div class="card">
          <div class="text-center">
            <img src="assets/images/user.jpg" class="rounded" style="width: 100px;">
          </div>
          <div class="card-body">
            <div class="card-title h5">
              สมสวย มากจัง
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>